<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p data-spy="scroll" class="text-dark" >Description</p>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="container">
                                <div class="row">
                                  <div class="col-sm">
                                    <a href="#" class="text-danger">new price</a>
                                       
                                  </div>
                                  <div class="col-sm">
                                    <div class="badge badge-danger float-right" style="width: 100px;">discount</div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <small class="text-muted"><del>old price</del></small>
                                    </div>
                                    <div class="col-sm">
                                        <button id="buyItem" type="submit"  style="width: 100px;"   class="btn btn-link text-dark btn-outline-success float-right">Buy</button>
                                    </div>
                                  </div>
                            </div>  
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section> 
</section> 